<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>ZengSource MVC Demo</display-name>
	<!-- // SPRING START ////////////////////////////////////////////////////////////////////////////// -->
	<!-- // Doc 3.1 - Getting Spring Ready // -->
	<!-- // Details to configure Spring Framework, please refer the Spring official 
		documentation. // -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- // SPRING END /////////////////////////////////////////////////////////////////////////////// -->

	<!-- // ZENGSOURCE MVC START ///////////////////////////////////////////////////////////////////// -->
	<!-- // Doc 3.2	Adding InletServlet                                                             // -->
	<!-- // Details of servlet configuration, please the ZengSource MVC Reference.                  // -->
	<servlet>
		<!-- display-name>InletServlet</display-name -->
		<servlet-name>InletServlet</servlet-name>
		<servlet-class>org.zengsource.mvc.InletServlet</servlet-class>
		<!-- description>ZengSource MVC Controller</description -->
		<load-on-startup>1</load-on-startup>
		<!-- 
		<init-param>
			<param-name>actionEditor</param-name>
			<param-value>default</param-value>
			<description>Action Editor</description>
		</init-param>
		<init-param>
			<param-name>pageURL</param-name>
			<param-value>jxp</param-value>
			<description>Page URL Mapping</description>
		</init-param>
		<init-param>
			<param-name>xmlURL</param-name>
			<param-value>xmd</param-value>
			<description>XML URL Mapping</description>
		</init-param>
		<init-param>
			<param-name>jsonURL</param-name>
			<param-value>jsd</param-value>
			<description>JSON URL Mapping</description>
		</init-param>
		 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>InletServlet</servlet-name>
		<url-pattern>*.jxp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InletServlet</servlet-name>
		<url-pattern>*.xmd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InletServlet</servlet-name>
		<url-pattern>*.jsd</url-pattern>
	</servlet-mapping>
	<!-- // ZENGSOURCE MVC END /////////////////////////////////////////////////////////////////////// -->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
