<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- // Dao START /////////////////////////////////////////////////////////////////////// -->
	<bean id="userDao" class="org.zengsource.demo.mvc.dao.DemoUserDao">
	</bean>
	<bean id="messageDao" class="org.zengsource.demo.mvc.dao.DemoMessageDao">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	<!-- // Dao END   /////////////////////////////////////////////////////////////////////// -->
	
	<!-- // Service bean START ////////////////////////////////////////////////////////////// -->
	<bean id="userService" class="org.zengsource.demo.mvc.service.UserServiceImpl">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	<bean id="messageService" class="org.zengsource.demo.mvc.service.MessageServiceImpl">
		<property name="messageDao">
			<ref bean="messageDao"/>
		</property>
	</bean>
	<!-- // Service bean END //////////////////////////////////////////////////////////////// -->

</beans>