<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	
	<bean id="extPlugin" class="org.zengsource.demo.mvc.plugin.ExtPlugin">
	</bean>
	<bean id="userPlugin" class="org.zengsource.demo.mvc.plugin.UserPlugin">
		<property name="ignored"><value>/signin.jxp,/signon.jxp</value></property>
	</bean>

	<bean id="pluginFactory" class="org.zengsource.mvc.plugin.SimplePluginFactory">
		<property name="pluginMap">
			<map>
				<entry key="ExtPlugin">
					<ref local="extPlugin"/>
				</entry>
				<entry key="UserPlugin">
					<ref local="userPlugin"/>
				</entry>
			</map>
		</property>
	</bean>

</beans>